<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Contato - FreeToWear</title>
</head>
<body>
<h1><a th:href="@{/}">Home</a><br></h1>

<h2>Entre em Contato</h2>
<p>Tem dúvidas, sugestões ou precisa de ajuda com seu pedido personalizado? Fale conosco!</p>

<div>
    <p><strong>E-mail:</strong> contato@mail.com.br</p>
    <p><strong>Atendimento:</strong> Segunda a Sexta, das 09h às 18h</p>
</div>
</body>
</html>
