<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<body>
<h1><a th:href="@{/}">Home</a><br></h1>

<div>
    <span>👤</span>
    <span sec:authorize="isAnonymous()">Guest</span>
    <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.name}">User</span>
</div><br>

<form th:action="@{/products/search}"
      method="get"
      class="search-form">

    <input type="search"
           name="q"
           placeholder="Buscar produtos ou categorias..."
           autocomplete="off">

    <button type="submit">
        Buscar
    </button>
</form><br>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Detalhes</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${products}">
        <td>
            <img th:src="${product.imageUrl}"
                 th:alt="${product.name}"
                 width="120">
        </td>
        <td th:text="${product.name}"></td>
        <td th:text="'R$' + ${product.price}"></td>
        <td>
            <a th:href="@{/products/{id}(id=${product.id})}">
                Ver produto
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>