<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>405 - Method Not Allowed</title>
</head>
<body>
<h1><a th:href="@{/}">Home</a><br></h1>

<main>
    <section>
        <h1>405 - Method Not Allowed</h1>
        <p>The requested HTTP method is not supported for this resource.</p>
        <p>Please return to the home page or try again.</p>
    </section>
</main>
</body>
</html>
