<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
     <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Document</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/img/logo.png}" alt="Logo" width="140" height="102" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/camisaslisas}">Camisas lisas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/trabalhos}">Trabalho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contato}">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sobrenos}">Sobre Nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Sobre Nós</h5>
    <p class="card-text">a Free to wear, acreditamos que cada camisa pode contar uma história — a sua. Somos uma empresa especializada na personalização de camisetas, unindo criatividade, estilo e qualidade para transformar ideias em peças únicas.

Desde o início, nosso propósito sempre foi oferecer muito mais do que roupas: oferecemos identidade. Seja para empresas, eventos, times, aniversários ou simplesmente para quem quer expressar sua personalidade, estamos prontos para criar algo exclusivo com você.

Trabalhamos com materiais de alta qualidade, tecnologia de ponta em impressão e uma equipe apaixonada por design e inovação. Cada order é tratado com atenção aos detalhes, porque sabemos que para você não é só uma camisa — é uma forma de se destacar, de se conectar, de ser lembrado.

Se você pode imaginar, nós podemos estampar.</p>
 
  
  </div>
 
</div>

<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Mais do que camisetas. Nós personalizamos histórias.</h5>
    <p class="card-text">tudo começou com uma ideia simples: transformar peças básicas em algo cheio de personalidade. O que era apenas um hobby virou uma paixão, e hoje somos referência em personalização de camisetas para todos os momentos — do casual ao corporativo, do individual ao coletivo.

Desde o início, nosso foco sempre foi unir criatividade, qualidade e atendimento humano. Acreditamos que a roupa também é uma forma de expressão, e não há nada mais original do que vestir algo feito sob medida para você, sua equipe, seu evento ou sua marca.

Nosso trabalho é dar forma ao que você imagina.
Seja com frases inspiradoras, estampas artísticas, logos de empresas, ou até aquele desenho feito à mão, nosso time está pronto para transformar suas ideias em camisetas com identidade e impacto.</p>
 
  
  </div>
 
</div>


<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">O que nos diferencia?</h5>
    <p class="card-text">Atendimento personalizado: Aqui você não é só mais um order. Acompanhamos de perto cada etapa, com atenção ao que você realmente quer.

Tecnologia de impressão de ponta: Usamos equipamentos modernos para garantir qualidade, durabilidade e fidelidade nas cores.

Materiais de alta qualidade: Trabalhamos com tecidos que proporcionam conforto, caimento perfeito e excelente resultado de estampa.

Agilidade e compromisso: Entregamos dentro do prazo combinado, sem abrir mão da excelência.</p>
 
  
  </div>
 
</div>

<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Para quem fazemos??</h5>
    <p class="card-text">Empresas que querem fortalecer a marca com uniformes criativos

Times esportivos que desejam camisas com personalidade

Eventos, aniversários, despedidas de solteiro, casamentos e formaturas

Artistas, influenciadores, pequenos empreendedores e criativos de todos os tipos

Pessoas que simplesmente querem uma camiseta diferente, exclusiva e com significado

Se você chegou até aqui, é porque também acredita que o estilo pode ser único — e que uma camiseta pode dizer muito.

Estamos aqui para te ajudar a criar a sua.</p>
 
  
  </div>
 
</div>



<div class="card text-bg-dark">
  <img src="/img/rodape.jpg" class="card-img"alt="...">
  <div class="card-img-overlay">
    
     <h5 class="card-title">Horários de funcionamento</h5>
        <p class="card-text">De segunda a sexta-feira</p>
        <p class="card-text">das 8h às 18h</p>
        <p class="card-text">© 2025 Todos os direitos reservados | FREE TO WEAR</p>
        <h5 class="card-title">Redes Sociais</h5>
         <img src="/img/instagram.png" class="img-fluid rounded-start" width="25" height="25" alt="...">
        <A href="https://w.app/vsbk1x"><img src="/img/whatsapp.png" class="img-fluid rounded-start" width="25" height="25" alt="..."></a>
    
  </div>
</div>


</body>
</html>